* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 14, 33, 1) 90%,
    rgba(5, 52, 61, 1) 100%
  ); */
  background: rgba(#000 0);
}
