.sections {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 80px;
}
.header {
}
.containers {
  animation: fadeInUpBig;
  animation-duration: 3s;

  padding-top: 50px;
  color: white;
  text-align: center;
  gap: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.head {
  background: #222222;
  padding: 70px 50px;
  border-radius: 15px;
}
.head:hover {
  background: white;
  transition: 2s;
  color: black;
}
