.about {
  color: white;
  margin-bottom: 20px;
}
.introduction {
  margin: 40px 30px;
  color: white;

  display: flex;
  flex-direction: column;
  width: 20%;
  background: #222222;
  padding: 30px 50px;
}
.about-side {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 30%;
  width: 50%;
}
.about-myself {
  border-radius: 10px;
  background-color: #222222;
  padding: 40px 0px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 40px;
}
.image-section {
  padding-left: 90px;
}
.text-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
}
.text {
}
.computer-image {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 950px) {
  .about-myself {
    flex-direction: column;
  }
}
