.profile-section {
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
}
.sidebar-container {
  height: 100%;
  width: 40%;
  top: 0px;
  right: 0px;
  background-color: sienna;
  position: absolute;
}
.burger-menu {
  margin-right: 30px;
  position: absolute;
  width: 30px;
  height: 30px;
}
.close {
  width: 20px;
  height: 20px;
}
.button {
  padding: 10px 30px;
  box-shadow: gray;
  border: none;
  font-weight: 700;
  border-radius: 5px;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .profile-section {
    display: none;
  }
}
@media only screen and (min-width: 950px) {
  .burger-menu {
    display: none;
  }
}
