.card-content {
  border-radius: 12px;

  width: 30%;
  background: #222222;
  padding: 30px 50px;
}
.card-container {
  /* display: grid; */
  display: flex;
  gap: 30px;
  margin: 30px 0px;
}
.card-content a {
  display: flex;
  align-items: center;
  color: white;
}
.icon-right {
  color: yellow;
}
