.card-content {
  border-radius: 12px;

  padding: 20px 80px;
  background: #222222;
  padding: 30px 50px;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex; */
  /* justify-content: space-evenly; */
  gap: 30px;
  margin: 30px 0px;
}
.card-content a {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.card-content a img {
  width: 20px;
  height: 20px;
}
.card-content a:hover {
  border-bottom: 1px solid gray;
  width: 50px;
}
.icon-right {
  color: yellow;
}
.card-content:hover {
  transition: 2s;
  background-color: white;
  color: black;
}
.card-content:hover a {
  transition-delay: 8000;
  color: black;
}
@media only screen and (max-width: 950px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1200px) {
}
